<f:if condition="{ajaxlist}">
	<f:then>
		{js -> f:format.raw()}
		<f:for each="{items}" as="row">
			<div class="tx_staddressmap_addresslist_item" id="a{row.uid}">
				<b>{row.name}</b><br />
				{row.address}<br />
				{row.zip} {row.city} <br />
				{row.country} <br />
				{row.phone} <br />
				<f:link.email email="{row.email}" /> <br />
				<p><b>{row._distance}</b></p>
			</div>

		</f:for>
	</f:then>
	<f:else>
		<div style="display:none" id="tx_staddressmap_addresslist_pageid">{currentPageId}</div>
		<div style="display:none" id="tx_staddressmap_addresslist_ajaxtypenum">{ajaxTypeNum}</div>
		<div class="tx_staddressmap_selector">
			<f:for each="{dropdowns}" as="items" key="key">
				<f:render section="dropdown" arguments="{key:key,items:items}"/>
			</f:for>
			<f:for each="{inputs}" as="value">
				<f:render section="input" arguments="{value:value}"/>
			</f:for>

			<f:if condition="{settings.searchbutton}">
				<input class="tx_staddressmap_submit" type="submit" value="{f:translate(key:'search')}"/>
			</f:if>
		</div>
		<f:if condition="{settings.seeatstart}">
		<input type="hidden" id="tx_staddressmap_seeatstart" value="1"/>
		</f:if>
		<input type="hidden" id="tx_staddressmap_cid"        value="{contentId}"/>
		<input type="hidden" id="tx_staddressmap_cidhmac"    value="{cidHmac}"/>
		<div id="tx_staddressmap_gmap_{contentId}"        class="tx_staddressmap_gmap"></div>
		<div id="tx_staddressmap_addresslist_{contentId}" class="tx_staddressmap_addresslist"></div>
	</f:else>
</f:if>




<f:section name="dropdown">
	<select class="tx_staddressmap_select" id="tx_staddressmap_select_{key}">
		<option value="-1">{f:translate(key:'please_select')}</option>
		<f:for each="{items}" as="item" key="value">
			<option value="{value}">{item}</option>
		</f:for>
	</select>
</f:section>



<f:section name="input">
	<input class="tx_staddressmap_input" id="tx_staddressmap_input_{name}" value="" />
</f:section>






<f:comment>
{row.uid} 

</f:comment>